* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  back;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;

}


.logo img {
  width: 50%;
}


.Tabs {
  padding-top: 150px;
  border-bottom: 1px solid black;
  padding-left: 150px;

}

.Tabs span {
  padding-left: 50px;

}


.Articoli {
  width: 500px;
  padding-left: 200px;
  padding-top: 100px;
}

.Article{
  padding-bottom: 50px;

}

  .info span {
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }

  .Article img{
    float: right;
  }
  
